@import "compass/layout/sticky-footer";



/*------CONTAINER VARIABLES--------*/
$sticky-height: 200px;
/*---------------------------------*/

@include sticky-footer($sticky-height);

html{
	height: 100%;
}

body{
	height: 100%;
}

.page { 
	@include container;
}

h1{margin: 0}


